body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr 0.2fr 0.2fr;
    justify-items: center;
    align-items: center;
    
}

h1 {
    margin: 0;
}

.gameboard {
    max-width: 600px;
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.square {
    font-size:50px;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    background-color:darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whoTurn {
    margin: 0;
    font-size: 20px;
}

button {
    margin: 0;
}


